<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>VotaServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.VotaServlet</servlet-class>
	</servlet>
	

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RicercaCantanteServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.RicercaCantanteServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CanzoneServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.CanzoneServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TaraturaMicrofonoServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.TaraturaMicrofonoServlet</servlet-class>
	</servlet>
<servlet>
		<servlet-name>GiudiceChoiceServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.GiudiceChoiceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AscoltoRegistrazioniServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.AscoltoRegistrazioniServlet</servlet-class>
	</servlet>

<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RicercaCantanteServlet</servlet-name>
		<url-pattern>/RicercaCantanteServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>CanzoneServlet</servlet-name>
		<url-pattern>/CanzoneServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TaraturaMicrofonoServlet</servlet-name>
		<url-pattern>/TaraturaMicrofonoServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GiudiceChoiceServlet</servlet-name>
		<url-pattern>/GiudiceChoiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VotaServlet</servlet-name>
		<url-pattern>/VotaServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AscoltoRegistrazioniServlet</servlet-name>
		<url-pattern>/AscoltoRegistrazioniServlet</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>4000</session-timeout>
	</session-config>

</web-app>
